tuple is a collection of objects separated by commas , object means values or data.
characteristics of tuple:
1. ordered
2. unchangeable/immutable
3. allow duplicate values
4. indexed
5. tuple can contain different data types
6. we can store tuple in a list and list can be changed

In [ ]:
numbers = (1 , 22 ,45 ,3 ,5, 7, 9, 29)

print(numbers[2]) #it shows the index of the element
print(numbers[-1]) #it shows the last element of the tuple

In [ ]:
fruit= [apple , banana, orange, watermelon, grapes]

fruit_tuple = tuple(fruit)

print(fruit_tuple)

In [ ]:
for i in range(5):# range is a function that returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.
    #(5) it is a list of numbers from 0 to 4
    print(i)

0
1
2
3
4

In [4]:
number = (1,2,3)

numbe_list = list(number)

numbe_list[0] = 10

number = tuple(numbe_list)

print(number)
number.count(1)
number.index(10,0,3)

(10, 2, 3)

0

letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

1. Get the first 4 elements from the list

In [ ]:
letters=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
print(letters[0:4])

print(letters[3:6])

print(letters[::2])

print(letters[::3])

['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'c', 'e', 'g', 'i', 'k', 'm', 'o', 'q', 's', 'u', 'w', 'y']